.HistoryItem li {
  animation: fadeIn .25s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}